@media (max-width: 767px) {
	.desktop {
		width: 90%;
	}
}
@media (min-width: 768px) {
	.tablet {
		width: 40%;
	}
	div:nth-child(4) {
		width: 85%;
	}
}
@media (min-width: 992px) {
	.phone {
		width: 28%;
	}
}

body {
	font-family: arial
	}
h1 {
	margin-top: 40px;
	text-align: center;
}
.Carne {
	box-sizing: border-box; 
	width: 50%;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	float: right;
	right: 0px;
	border: 3px solid black;
	border-top: 0px;
	border-right: 0px;
	margin: 0px 0px 10px 0px; 
}
.chicken {
	background-color: #D59898
}
.beef {
	background-color: #C14543;
	color: white
}
.sushi {
	background-color: #E5D198
}
.Bloque {
	background-color: #989898;
	color: black;
	float: left;
	margin: 20px;
	text-align: justify; 
	box-sizing: border-box; 
	border: 3px solid black; 
}
.Descripcion {
	clear: right;
	margin: 10px;
}
